<div class="container mt-5">
    <h3 class="text-center">Users view form</h3>
    <form class="mt-5"> 
        <div class="form-group row">
        <label>Name:</label>
            <div class="col-sm-10 ml-5">
        <input type="text" class="form-control" value="{{currentuser.name}}"/>
    </div>

</div>
<div class="form-group row">
    <label>User Name:</label>
    <div class="col-sm-10 ml-1">
        <input type="text" class="form-control" value="{{currentuser.username}}"/>
    </div>


</div>
<div class="form-group row">
    <label>Email:</label>
    <div class="col-sm-10 ml-5">
        <input type="text" class="form-control" value="{{currentuser.email}}"/>
    </div>


</div>
<div class="form-group row">
    <label>Phone-No:</label>
    <div class="col-sm-10 ml-2">
        <input type="text" class="form-control" value="{{currentuser.phone}}"/>
    </div>


</div>
<div class="form-group row">
    <label>Website:</label>
    <div class="col-sm-10 ml-4">
        <input type="text" class="form-control" value="{{currentuser.website}}"/>
    </div>

</div>
 <button class="btn btn-success m-3">Save</button>
 <button class="btn btn-danger ">Cancel</button>

    </form>
</div>
