<div class="container-fluid">
        <h4>LOGO</h4>
        <h4>LOGIN</h4>
    </div>
    <nav>
        <ul>
            <li><a [routerLink]="['/home']">Users</a></li>
            <li ><a [routerLink]="['/posts']">Posts</a></li>
            <li><a [routerLink]="['/comments']">Comments</a></li>
        </ul>
    </nav>
<div class="container">
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of users">
                   <td>{{data.id}}</td>
                   <td>{{data.name}}</td>
                   <td>{{data.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="setpage($event)"></pagination>
</div>
